.rows {

    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    column-gap: 10px;
    margin: 10px 0;
    height: 40px;
    justify-content: center;

}

.element, .bomb, .zero_element {

    height: 100%;
    width: 100%;
    background: white;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    display: grid;
    align-items: center;
    transform: scale(1);
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.308);

}

.bomb.open {

    background: rgb(255, 63, 63);

}

.element.open {
    background: rgb(255, 180, 255);
    transform: scale(0.9);
    color: white;
}

.zero_element.open {

    background: rgb(155, 155, 155);
    transform: scale(0.9);
    color: white;

}